*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{ 
  --fundo-principal: #a9a9a9;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #00008b;
  --destaque-inverso: #66bbff; /* Mudar essa cor */
  --fundo-card: #ffffff;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);
}

header{
  background-color: var(--destaque);
  color: var(--texto);
  padding: 10px;
  display: flex;
  justify-content: end; /* Para colar la na direita, coloca um flex no pai*/
  align-content: center;
}

#menu ul{
  list-style: none;
  display: flex;
  gap: 10px;
}

#menu a{
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600px;
  padding: 12px 15px;
  border-radius: 5px;
  transition: background-color 0.5s, color 0.5s;
}

#menu a:hover{
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}